* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  --primary-color: #121212;
  --accent-color: #49F4BA;
  --text-color: #ffffff;
}

body {
  font-family: 'Montserrat';
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color: var(--primary-color);
}

.current {
  color: var(--accent-color) !important;
}

#main-vid {
  margin: 0 auto 0 auto;
  width: 720px;
}

.vid {
  display: block;
  border: 5px solid var(--text-color);
  border-radius: 25px;
  aspect-ratio: 16/9;
}

.small-vid {
  width: 400px;
  margin: 0px 20px 50px 20px;
}

#small-vids {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

#section {
  color: var(--text-color);
  text-align: center;
  margin: 50px 0px 20px 0px;
}